:root {
	--primary: hsl(325, 88%, 58%);
	background-image: url("cat-story\background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline:  none;
	border: none;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--bg);
	color: #fff;
	min-height: 2000px;
}

/*Navbar*/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4rem 7%;
	background-color: rgba(1, 1, 1, 0.8);
	border-bottom: 1px solid var(--primary);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.navbar .navbar-logo {
	font-size: 2rem;
	font-weight: 700;
	color: hsl(325, 88%, 58%);
}

.navbar .navbar-logo span {
	color: hsl(273, 100%, 88%);
}

.navbar .navbar-nav a {
	color: white;
	display: inline-block;
	font-size: 1rem;
	margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
	color: yellow;
}

.navbar .navbar-nav a::after {
	content: '';
	display: block;
	padding-bottom: 0.5rem;
	border-bottom: 0.1rem solid hsl(273, 100%, 88%);
	transform: scaleX(0);
	transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
	transform: scaleX(0.2);
}

.navbar .navbar-extra a {
	color: white;
	margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
	color: var(--primary);
}

#hamburger-menu {
	display: inline-block;
}

/*Hero Section*/
.hero {
	padding: 5rem 7% 1.4rem;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.hero .content {
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	max-width: 100%;
}

.hero .content h1 {
	font-size: 2rem;
	color: white;
	text-shadow: 1px 1px 3px white;
	padding right: 50px;
	padding-left: 50px;
	text-align: center;
	text-decoration: underline wavy yellow;
}

.hero .content h1 span {
color: hsl(262, 55%, 15%);
}

.hero .content p {
	text-align: justify;
	font-size: 15px;
	width: 100%;
	padding: 50px;
}

img {
	width: 140px;
	height: 200px;
	float: right;
	margin-left: 5px;
	margin-right: 5px; 
}

.float-image {
	width: 260px;
	height: 260px;
	margin right: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	float: left;
}

.float-image2 {
	width: 180px;
	height: 265px;
	margin-right: 25px;
	margin-left: 25px; 
	margin-bottom: 30px;
	text-align: justify;
	float: center;
}


/*Kucing Section*/
.kucing, 
.artikel,
.kegiatan,
.media {
	padding: 8rem 7% 1.4rem;
}

.kucing h2, 
.artikel h2,
.kegiatan h2,
.media h2 {
	color: white;
	font-size: 18px;
}

.kucing h3,
.artikel h3,
.kegiatan h3,
.media h3 {
	color: white;
	font-size: 20px;
}

.kucing h3 span,
.artikel h3 span,
.kegiatan h3 span,
.media h3 span {
	color: hsl(262, 55%, 15%);
}

.kucing p {
	color: black;
	text-align: justify;
	font-size: 13px;
	width: 100%;
	border-style: ridge;
	border-width: 10px;
	border-color: hsl(303, 65%, 88%);
	border-radius: 15px;
	background-color: hsl(174, 70%, 78%);
	padding: 15px 
}

/*Artikel Section*/
.artikel p {
	color: white;
	text-align: justify;
	font-size: 14px;
	width: 100%;
}

.artikel .p-style {
	direction: rtl;
	color: black;
	font-size: 20px;
	line-height: 30px;
}

.ul li {
	list-style-type: upper-roman;
	margin-top: 0px;
}

/*Kegiatan Section*/
.kegiatan p,
.media p {
	color: white;
	text-align: justify;
	font-size: 14px;
	width: 100%;
}

/*Media Section*/
. p {
	color: white;
	text-align: justify;
	font-size: 14px;
	width: 100%;
}

/*Footer*/
footer {
	background-color: var(--primary);
	text-align: center;
	padding: 1rem 0;
	margin-top: 3rem;
}

footer .socials {
	padding: 1rem 0;
}

footer .socials a {
	color: white;
	margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
	color: yellow;
}

footer .links  {
	margin-bottom: 1.4rem;
}

footer .links a {
	color: white;
	padding bottom: 0,7rem; 
	padding-left: 1rem;
	padding-right: 1rem;
}

footer .credit {
	font-size: 0.8rem;
}

footer .credit a {
	color: yellow;
	font-weight: 700;
}

/*Media Queries*/
/*Laptop*/
@media (max-width: 1366px) {
	html {
		font-size: 75%;
		}
	#hamburger-menu {
	display: inline-block;
	}
}

/*Tablet*/
@media (max-width: 768px) {
	html {
		font-size: 62.5%;
	}

#hamburger-menu {
	display: inline-block;
	}

.navbar .navbar-nav {
	position: absolute;
	top: 100%;
	right: -100%;
	background-color: white;
	width: 30rem;
	height: 100vh;
	transition: 0.3s;
	}	

.navbar .navbar-nav.active {
	right: 0;
	}	

.navbar .navbar-nav a {
	color: var(--primary);
	display: block;
	margin: 1.5rem;
	padding: 0.5rem;
	font-size: 2rem;
	}	

.navbar.navbar-nav a::after {
	transform: origin: 0 0;
	}

.navbar.navbar-nav a:hover::after {
	transform: scaleX(0.2);
	}
}

/*Mobile Phone*/
@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
}
